body {
	background-size: cover;
	background-image: url("img/1814ThompsonMap.jpg");
	margin: 0 auto;

}

@font-face {
	font-family: riogrande;
	src: url("fonts/rio_grande/riogrande.ttf");
	font-weight: 
}

header {
	/*display: block;*/
}

.flexcontainer {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: ltr;
	margin: 0 auto;
	/*max-height: 90%;*/
}

main {
/*	max-height: 600px;*/
/*	width: 650px;*/
	flex-grow: 1;
	border: 10px solid beige;
	align-content: left;
}

aside {
	order: 1;
	object-position: center;
	max-width: 20%;
	margin: 0 auto;
}

.letterhidden {
	display: inline-block;
	margin: 10px;
	height: 50px;
	max-width: 100px;
	min-width: 30px;
	border-bottom: 3px solid black;
	flex-wrap: nowrap;
}

.alphaButton {
	height: 50px;
	width: 50px;
	min-width: 15px;
	background: BurlyWood;
	color: white;
	font-size: 2em;
	margin: 10px;
	border: 3px solid white;
	border-radius: 40%;
	text-align: center;


}

#head {
	display: block;
	font-family: riogrande;
	background-color: beige;
	color: white;
	height: 75px;
	font-size: 50px;
	background-image: url("img/board-19208_1920.jpg");
	background-size: cover;
	text-align: center;
	vertical-align: center;
}

#solution {
	/*justify-content: flex-end;*/
	fl
	display: block;
	height: 100px;
	background: lightgrey;
	text-align: left;
	object-position: top;
	margin: 0 auto;
}

#startBox {
	width: 200px;
	height: 150px;
}

.playButton {
	width: 250px;
	height: 150px;
	border: 3px solid black;

}


